@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: linear-gradient(180deg,
      hsl(238deg 40% 37%) 0%,
      hsl(240deg 43% 36%) 11%,
      hsl(241deg 46% 35%) 22%,
      hsl(242deg 51% 34%) 33%,
      hsl(243deg 56% 33%) 44%,
      hsl(244deg 62% 31%) 56%,
      hsl(244deg 69% 30%) 67%,
      hsl(244deg 77% 29%) 78%,
      hsl(243deg 88% 27%) 89%,
      hsl(240deg 100% 25%) 100%);
  background-repeat: no-repeat;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3434ab;
  /* border-radius: 4px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4c4cf0;
}

/* Arrow signs */
::-webkit-scrollbar-button {
  display: block;
  height: 20px;
  width: 100%;
  background-color: #3434ab;
}

/* Top arrow */
::-webkit-scrollbar-button:decrement:before {
  content: "▲";
  font-size: 14px;
}

/* Bottom arrow */
::-webkit-scrollbar-button:increment:before {
  content: "▼";
  font-size: 14px;
}